﻿@model tryUserLogon.Models.MyAccount
@{
    ViewBag.Title = "Logon";
}

<h2>Logon</h2>

@using (Html.BeginForm("Logon", "Home", FormMethod.Post))
{
    /*
     AntiForgeryToken可防止CSRF攻擊，前端放一把鑰匙
     後端有個對應的門鎖[ValidateAntiForgeryToken]
     沒有鑰匙就無法通過
     用來防止偽造的請求
     */
    @Html.AntiForgeryToken()

    @Html.LabelFor(x => x.UserName) //<--標題
    @*@Html.DisplayNameFor(x => x.UserName) //也可以用這個*@
    @Html.TextBoxFor(x => x.UserName) //<--Input text 欄位
    @Html.ValidationMessageFor(x => x.UserName) //<--驗證訊息

    @Html.LabelFor(x => x.Password) //<--標題
    @Html.PasswordFor(x => x.Password) //input password 欄位
    @Html.ValidationMessageFor(x => x.Password) //<--驗證訊息

    <input type="submit" />
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
